//
//  Config.xcconfig
//  Nicea
//
//  Created by Stephen Bodnar on 5/13/20.
//  Copyright © 2020 Stephen Bodnar. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

REDDIT_CLIENT_ID = m1B90LeZasdKtA
BEARER_AUTH_HEADER = Basic bTFCOTBMZVphc2RLdEE6
REDDIT_AUTH_URL_STATE = kibdoifhe87i3
